extends internallayout

block metas
  meta(property="og:url", content=`https://march76.com/blog`)
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`Danny Solis is a creative photographer based in Austin, TX. His blog is a collection of photo stories and personal thoughts on the art of photography`)
  meta(property="og:image", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')
    
block content
  h1 Blog
  .blog-section-grid
    each h in posts
      .blog-block
        img(src=`${h.image}`)
        .headline-block
          a(href=`/blog/${h.quick}`)
            h3= h.headline
          h4= h.desc
          span= h.date
