extends layout

block metas
  meta(property="og:url", content=`https://march76.com/blog/${blogpost[0].quick}`)
  meta(property="og:type", content="article")
  meta(property="og:title", content=`${blogpost[0].headline}`)
  meta(property="og:description", content=`${blogpost[0].desc}`)
  meta(property="og:image", content='https://march76.com/images/m76-pageimage-wht.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://march76.com/images/m76-pageimage-wht.png')

block content
  include newstaticheader.pug
  section.subpage-main-section.blog-section
    h2= blogpost[0].headline
    article
      each n in blogpost[0].story
        h4= n.subheader
        each x in n.text
          p!= x
      a(href="/blog") Back to Blog
    article.bio-block
      img(src='/images/mar76-danny-bio.jpg')
      p My name is Danny Solis. I'm a husband, pet shelter volunteer, and photographer from Austin, TX.
        |  My blog is a journal of my creative endeavors.  I live for collaborating with other artists.
        |  To learn more about me and see samples of my work, visit <a href='https://march76.com'>march76.com</a>
  include staticfooter.pug
