extends layout

block content
  include newstaticheader.pug
  section.moodboard
    h2= name
    p= desc
    h4 Status
    case project.status
      when 1
        span.project-status(style="background:#393") Scheduled
      when 2
        span.project-status(style="background:#f90") Collaboratin
      default
        span.project-status(style="background:#f30") In Development
    if project.schedule
      h4 Date/Time
      span= project.schedule
    if project.team.length > 0
      h4 Team
      each t in project.team
        span.team-member= t.role + ": " + t.name
    if project.location
      h4 Location
      span= project.location
    .moodboard-collage
      each a in collage1
        figure
          img(src=`${a.tnail}`)
          figcaption= a.feeling
    .moodboard-palette
      div 
        h4 Color palette
      each x in palette
        .palette-color(style=`background:${x};`)
          span= x
          span= x
    .moodboard-collage
      each b in collage2
        figure
          img(src=`${b.tnail}`)
          figcaption= b.feeling
  footer.toggle-nav
    span.icon
      i.fal.fa-angle-up.fa-2x
    a(href="/contact")
      h3 Contact
