extends layout

block metas
  meta(property="og:title", content=`march76 - Mood Board - ${project.name}`)
  meta(property="og:url", content=`https://march76.com/boards/${project.quick}`)
  meta(property="og:type", content="blog")
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`${project.descShort}`)
  meta(property="og:image", content=`${project.image}`)
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content=`${project.image}`)

block content
  include newstaticheader.pug
  section.moodboard
    .moodboard-hero-header(style=`background-image: url(${project.image})`)
      .moodboard-hero-blend
        h2= project.name
        p!= project.descFull
    h4 Status
    case project.status
      when 0
        span.project-status(style="background:#f30") In Development
      when 1
        span.project-status(style="background:#f90") Collaborating
      when 2
        span.project-status(style="background:#393") Scheduled
      when 3
        span.project-status(style="background:#09c") Post Production
      default
        span.project-status(style="background:#000") Completed
    if project.schedule
      h4 Date/Time
      span!= project.schedule
    if project.team.length > 0
      h4 Team
      each t in project.team
        span.team-member= t.role + ": " + t.name
    if project.location
      h4 Location
      span!= project.location
    if project.result
      img.result-image(src=project.result)
    h4 Mood Board
    if project.notes.length > 0
      .mood-notes
        each n in project.notes
          p!= n
    .moodboard-collage
      each a in collage1
        figure
          img(src=`${a.tnail}`)
          figcaption= a.feeling
    .moodboard-palette
      each x in project.palette
        .palette-color(style=`background:${x};`)
          span= x
          span= x
    .moodboard-collage
      each b in collage2
        figure
          img(src=`${b.tnail}`)
          figcaption= b.feeling
    #moodboard-comments-container
      .moodboard-comments-section
        h4 Leave a comment
          span
            i.fas.fa-comment-dots
        form.moodboard-comment-form(data-board=`${project.quick}`)
          input(type="text" name="commentname" placeholder="Name...").comment-name
          br
          textarea(type="text" name="commenttext" placeholder="Comment...").comment-text
          br
          span.comment-submit Submit
          span.comment-cancel Cancel
        if project.comments.length > 0
          each c in project.comments
            .moodboard-comment
              h5= c.commentname
              span= c.date
              quote= c.quotetext
              p= c.commenttext
              span
                i.fas.fa-reply
  include staticfooter.pug
