extends layout

block content
  include newstaticheader.pug
  section.moodboard
    .moodboard-collage
      h2= name
      p= desc
      each a in collage1
        figure
          img(src=`${a.tnail}`)
          figcaption= a.feeling
    .moodboard-palette
      div 
        h4 Color palette
      each x in palette
        .palette-color(style=`background:${x};`)
          span= x
          span= x
    .moodboard-collage
      each b in collage2
        figure
          img(src=`${b.tnail}`)
          figcaption= b.feeling
  footer.toggle-nav
    span.icon
      i.fal.fa-angle-up.fa-2x
    a(href="/contact")
      h3 Contact
