extends layout

block content
  include newstaticheader.pug
  section.moodboard
    .moodboard-collage
      h2= name
      each a in collage1
        figure
          img(src=`${a.tnail}`)
          figcaption= a.feeling
    .moodboard-pallette
      div 
        h4 Color Pallette
      each x in pallette
        .pallette-color(style=`background:${x};`)
          span= x
          span= x
    .moodboard-collage
      each b in collage2
        figure
          img(src=`${b.tnail}`)
          figcaption= b.feeling
  footer.toggle-nav
    span.icon
      i.fal.fa-angle-up.fa-2x
    a(href="/contact")
      h3 Contact
