extends layout

block content
  include staticheader.pug
  section.subpage-main-section
    .subpage-row
      .gallery-column
        each a in images1
          figure
            img(src=`/images/${a.lowres}`,
              data-name=`${a.name}`,
              data-camera=`${a.camera}`,
              data-lense=`${a.lense}`,
              data-focallength=`${a.focallength}`,
              data-fstop=`${a.fstop}`,
              data-iso=`${a.iso}`,
              data-shutterspeed=`${a.shutterspeed}`,
              data-category=`${a.category}`)
            figcaption= a.name
      .gallery-column
        each b in images2
          figure
            img(src=`/images/${b.lowres}`,
              data-name=`${b.name}`,
              data-camera=`${b.camera}`,
              data-lense=`${b.lense}`,
              data-focallength=`${b.focallength}`,
              data-fstop=`${b.fstop}`,
              data-iso=`${b.iso}`,
              data-shutterspeed=`${b.shutterspeed}`,
              data-category=`${b.category}`)
            figcaption= b.name
    #imageModal.gallery-modal
      img#enlargedImage.modal-content
      #modalCaption
        .image-details
        .image-details
        .image-details
  footer.toggle-nav
    span.icon
      i.fal.fa-angle-up.fa-2x
    a(href="/blog")
      h3 Blog
    a(href="/about")
      h3 About Me
    a(href="/contact")
      h3 Contact
    p Copyright &copy 2018 All Rights Reserved
block scripts
  script(src='/javascripts/galleryscript.js')
