extends layout

block links
  link(rel='stylesheet', href='/stylesheets/gallerystyle.css')

block content
  include staticheader.pug
  section.subpage-main-section
    .subpage-row
      .gallery-column
        each a in pics
          figure
            img(src=`/images/${a.lowres}`,data-highres=`${a.highres}`,data-camera=`${a.camera}`,data-lense=`${a.lense}`, data-focallength=`${a.focallength}`, data-fstop=`${a.fstop}`, data-iso=`${a.iso}`, data-shutterspeed=`${a.shutterspeed}`, data-category=`${a.category}`)
            figcaption= a.name
      //
        .gallery-column
          for each b in images2
            figure
              img(src=`/images/${b.lowres}`,data-highres=`${b.highres}`,data-camera=`${b.camera}`,data-lense=`${b.lense}`,data-focallength=`${b.focallength}`, data-fstop=`${b.fstop}`,data-iso=`${b.iso}`,data-shutterspeed=`${b.shutterspeed}`,data-category=`${b.category}`)
              figcaption= b.name
    #imageModal.gallery-modal
      span.modal-close
        i.fal.fa-expand-alt.fa-2x
      img#enlargedImage.modal-content
      #modalCaption
  footer
    a(href="/blog")
      h3 blog
    h3 /
    a(href="/about")
      h3 about me
    h3 /
    a(href="/contact")
      h3 contact
block scripts
  script(src='/javascripts/galleryscript.js')
