extends layout

block content
  include newstaticheader.pug
  section.subpage-main-section
    .gallery-collection-header
      h2= collectionheader.name
      p= collectionheader.desc
      each x in collectionheader.team
        h4= x.role + ' | ' + x.artistname
    .subpage-row
      .gallery-column
        each a in images1
          figure
            img(src=`${a.lowres}`,
              data-highres=`${a.highres}`,
              data-name=`${a.imagename}`,
              data-camera=`${a.camera}`,
              data-lense=`${a.lens}`,
              data-focallength=`${a.focallength}`,
              data-fstop=`${a.fstop}`,
              data-iso=`${a.iso}`,
              data-shutterspeed=`${a.shutterspeed}`)
            figcaption= a.imagename
      .gallery-column
        each b in images2
          figure
            img(src=`${b.lowres}`,
              data-highres=`${b.highres}`,
              data-name=`${b.imagename}`,
              data-camera=`${b.camera}`,
              data-lense=`${b.lens}`,
              data-focallength=`${b.focallength}`,
              data-fstop=`${b.fstop}`,
              data-iso=`${b.iso}`,
              data-shutterspeed=`${b.shutterspeed}`)
            figcaption= b.imagename
    #imageModal.gallery-modal
      img#enlargedImage.modal-content
      #modalCaption
        .image-details
        .image-details
        .image-details
  include staticfooter.pug
block scripts
  script(src='/javascripts/galleryscript.js')
