extends internallayout

block metas
  meta(property="og:url", content=`https://march76.com/gallery`)
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`Danny Solis is a creative photographer based in Austin, TX.  His gallery is a cross-section of his best work.`)
  meta(property="og:image", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')

block content
  h1 Portfolio
  .portfolio-image-grid
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-JMPzBqN/0/69b4d3fc/XL/i-JMPzBqN-XL.jpg",
        alttext="haley nicole modeling isolde concept with icy cold makeup design, taken by Danny Solis", 
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-PwL9cf8/0/14a07af5/X3/i-PwL9cf8-X3.jpg", 
        alttext="black and white photo of couple with woman staring intently into camera, taken by Danny Solis", 
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-dFFShQk/0/21b1f88e/XL/i-dFFShQk-XL.jpg",
        alttext="woman posing in swimsuit, taken by Danny Solis", 
        loading="lazy")    
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-nh57nFk/0/30c0352e/XL/i-nh57nFk-XL.jpg",
        alttext="alex jensen modeling blue corset with blue hair blowing in the wind, taken by Danny Solis", 
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-c9M5cn5/0/a906b3db/X3/i-c9M5cn5-X3.jpg",
        alttext="haley nicole modeling isolde concept with icy cold makeup design, taken by Danny Solis", 
        loading="lazy") 
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-pPvjrkW/0/93840391/XL/i-pPvjrkW-XL.jpg",
        alttext="portrait of danielle poe modeling, taken by Danny Solis", 
        loading="lazy")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-7QDcqTw/0/0e8ea16c/L/i-7QDcqTw-L.jpg", 
        alttext="man playing bass guitar at concert, taken by Danny Solis", 
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-SKWGx6K/0/078988d0/X3/i-SKWGx6K-X3.jpg",
        alttext="alex jensen wearing black corset and black tutu for black swan concept, taken by Danny Solis", 
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-PJcVWbv/0/1287ad8b/X2/i-PJcVWbv-X2.jpg", 
        alttext="man playing electic guitar in concert, taken by Danny Solis", 
        loading="lazy")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-cfmMRTC/3/3a066429/M/i-cfmMRTC-M.jpg", 
        alttext="alex jensen modeling lotus concept, taken by Danny Solis", 
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-ZS6k2xR/0/f8789850/X3/i-ZS6k2xR-X3.jpg",
        alttext="alex jensen modeling blue corset with blue and purple makeup, taken by Danny Solis", 
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-ztfdDTs/0/841d8d05/X2/i-ztfdDTs-X2.jpg", 
        alttext="portrait of ballet dancer posing on point, taken by Danny Solis", 
        loading="lazy")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-pZmHMxN/0/b4fb58b9/XL/i-pZmHMxN-XL.jpg", 
        alttext="alex jensen modeling timeless with vintage wig and green with pink lighting", 
        loading="lazy")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-6mNdtw3/0/ca355d24/XL/i-6mNdtw3-XL.jpg", 
        alttext="alex jensen modeling in shallow water surrounded by lotus petals, taken by Danny Solis", 
        loading="lazy")     
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-SVh8DhN/0/9dbc955f/X3/i-SVh8DhN-X3.jpg", 
        alttext="alex jensen wearing black tiara and black corset in black swan makeup, taken by Danny Solis", 
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-njpSXcf/0/04fd63c3/XL/i-njpSXcf-XL.jpg", 
        alttext="young lady portrait, taken by Danny Solis", 
        loading="lazy")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-RbM39J9/0/8f4353bd/M/i-RbM39J9-M.jpg", 
        alttext="professional camera gear photo, taken by Danny Solis", 
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-TvxgZ6p/0/06420fbb/X3/i-TvxgZ6p-X3.jpg", 
        alttext="alex jensen wearing vintage wig posing in green and purple lighting, taken by Danny Solis", 
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-h4pH9j6/0/f1c0aadb/X2/i-h4pH9j6-X2.jpg", 
        alttext="professional camera product photo, taken by Danny Solis", 
        loading="lazy")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-7Z4XXmF/0/cbca9df7/M/i-7Z4XXmF-M.jpg", 
        alttext="professional camera product photo, taken by Danny Solis", 
        loading="lazy")
  #imageModal.gallery-modal
      img#enlargedImage.modal-content
block scripts
  script(src='/javascripts/galleryscript.js')
