extends internallayout

block metas
  meta(property="og:url", content=`https://march76.com/gallery`)
  meta(property="og:site_name", content="March 76")
  meta(property="og:description", content=`Danny Solis is a creative photographer based in Austin, TX.  His gallery is a cross-section of his best work.`)
  meta(property="og:image", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:image:src", content='https://photos.smugmug.com/photos/i-nRmF6sV/0/e9575663/XL/i-nRmF6sV-XL.png')

block content
  h1 Portfolio
  .portfolio-image-grid
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-JMPzBqN/0/69b4d3fc/M/i-JMPzBqN-M.jpg",
        alttext="haley nicole modeling isolde concept with icy cold makeup design, taken by Danny Solis",
        data-largeimage="https://photos.smugmug.com/photos/i-JMPzBqN/0/69b4d3fc/O/i-JMPzBqN.jpg",
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-PwL9cf8/0/14a07af5/M/i-PwL9cf8-M.jpg", 
        alttext="black and white photo of couple with woman staring intently into camera, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-PwL9cf8/0/14a07af5/O/i-PwL9cf8.jpg",
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-h4pH9j6/0/f1c0aadb/M/i-h4pH9j6-M.jpg", 
        alttext="professional camera product photo, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-h4pH9j6/0/f1c0aadb/O/i-h4pH9j6.jpg",
        loading="lazy") 
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-nh57nFk/0/30c0352e/M/i-nh57nFk-M.jpg",
        alttext="alex jensen modeling blue corset with blue hair blowing in the wind, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-nh57nFk/0/30c0352e/O/i-nh57nFk.jpg",
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-c9M5cn5/0/a906b3db/M/i-c9M5cn5-M.jpg",
        alttext="haley nicole modeling isolde concept with icy cold makeup design, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-c9M5cn5/0/a906b3db/O/i-c9M5cn5.jpg",
        loading="lazy") 
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-pPvjrkW/0/93840391/L/i-pPvjrkW-L.jpg",
        alttext="portrait of danielle poe modeling black leather jacket against a yellow background, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-pPvjrkW/0/93840391/X4/i-pPvjrkW-X4.jpg",
        loading="lazy")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-7QDcqTw/1/df6b66c3/M/i-7QDcqTw-M.jpg", 
        alttext="man playing bass guitar at concert, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-7QDcqTw/1/df6b66c3/O/i-7QDcqTw.jpg",
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-SKWGx6K/0/078988d0/M/i-SKWGx6K-M.jpg",
        alttext="alex jensen wearing black corset and black tutu for black swan concept, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-SKWGx6K/0/078988d0/O/i-SKWGx6K.jpg",
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-PJcVWbv/1/30bd4efa/M/i-PJcVWbv-M.jpg", 
        alttext="man playing electic guitar in concert, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-PJcVWbv/1/30bd4efa/O/i-PJcVWbv.jpg",
        loading="lazy")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-cfmMRTC/3/3a066429/M/i-cfmMRTC-M.jpg", 
        alttext="alex jensen modeling lotus concept, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-cfmMRTC/3/3a066429/O/i-cfmMRTC.jpg",
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-ZS6k2xR/0/f8789850/M/i-ZS6k2xR-M.jpg",
        alttext="alex jensen modeling blue corset with blue and purple makeup, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-ZS6k2xR/0/f8789850/O/i-ZS6k2xR.jpg",
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-ztfdDTs/0/841d8d05/M/i-ztfdDTs-M.jpg", 
        alttext="portrait of ballet dancer posing on point, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-ztfdDTs/0/841d8d05/O/i-ztfdDTs.jpg",
        loading="lazy")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-pZmHMxN/0/b4fb58b9/M/i-pZmHMxN-M.jpg", 
        alttext="alex jensen modeling timeless with vintage wig and green with pink lighting", 
        data-largeimage="https://photos.smugmug.com/photos/i-pZmHMxN/0/b4fb58b9/O/i-pZmHMxN.jpg",
        loading="lazy")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-6mNdtw3/0/ca355d24/M/i-6mNdtw3-M.jpg", 
        alttext="alex jensen modeling in shallow water surrounded by lotus petals, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-6mNdtw3/0/ca355d24/O/i-6mNdtw3.jpg",
        loading="lazy")     
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-SVh8DhN/0/9dbc955f/M/i-SVh8DhN-M.jpg", 
        alttext="alex jensen wearing black tiara and black corset in black swan makeup, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-SVh8DhN/0/9dbc955f/O/i-SVh8DhN.jpg",
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-njpSXcf/0/04fd63c3/M/i-njpSXcf-M.jpg", 
        alttext="young lady portrait, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-njpSXcf/0/04fd63c3/O/i-njpSXcf.jpg",
        loading="lazy")
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-rXqPXxV/2/72af9bd9/M/i-rXqPXxV-M.jpg", 
        alttext="alex jensen posing in blue corset with blue hair blowing in wind, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-rXqPXxV/2/72af9bd9/O/i-rXqPXxV.jpg",
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-TvxgZ6p/0/06420fbb/M/i-TvxgZ6p-M.jpg", 
        alttext="alex jensen wearing vintage wig posing in green and purple lighting, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-TvxgZ6p/0/06420fbb/O/i-TvxgZ6p.jpg",
        loading="lazy")
    figure.tall
      img(src="https://photos.smugmug.com/photos/i-dFFShQk/0/21b1f88e/L/i-dFFShQk-L.jpg",
        alttext="woman posing in swimsuit, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-dFFShQk/0/21b1f88e/L/i-dFFShQk-L.jpg",
        loading="lazy")   
    figure.wide
      img(src="https://photos.smugmug.com/photos/i-gBKfjdR/0/d668969a/S/i-gBKfjdR-S.jpg", 
        alttext="professional camera product photo, taken by Danny Solis", 
        data-largeimage="https://photos.smugmug.com/photos/i-gBKfjdR/0/d668969a/O/i-gBKfjdR.jpg",
        loading="lazy")
  #imageModal.gallery-modal
      img#enlargedImage.modal-content
block scripts
  script(src='/javascripts/galleryscript.js')
